.mainpagelayout {
  height: auto;
  margin-left: 2.6rem;
  margin-right: 2.6rem;
  margin-top: 2rem;
  min-height: 8rem;
  padding-left: 1rem;
}

.create-tasks {
  align-self: flex-start;
  padding-bottom: 0.4rem;
  padding-top: 0.8rem;
  min-width: 220px;
  max-width: 300px;
  height: 22px;
  border-radius: 15px;

  text-align: center;
}

.newtaskimage {
  background: inherit;
}
